
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <div class="col-md-4">
            {{ form_label(form) }}
                {{ form_errors(form) }}
            </div>

            <div class="col-md-8">

                {{ form_widget(form) }}
            </div>

        </div>
        {% endspaceless %}
{% endblock %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}


{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
        {% if label =="Driver" or label == "Passenger"%}
            {{ label|trans({},translation_domain) }}
        {% else %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_errors %}

    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block button_row %}
    {% spaceless %}

        <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            {{ form_widget(form,{'attr':{'class':'btn btn-primary btn-block'}}) }}
        </div>
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_bootstrap_datetime') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date) }}
                {{ form_widget(form.time) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block form_bootstrap_datetime %}
    {% spaceless %}
            <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd HH:ii:ss" data-link-field="dtp_input1">
                <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty%} value="{{ value }}" {% endif %}  readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1" value="" /><br/>
        {% endspaceless %}
{% endblock %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-control">
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
            <label class="btn btn-primary">
                {{ form_widget(child) }} {{ form_label(child) }}
            </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
