{% if  reviews|length >0 %}
    <h3>{{ 'reviews'|trans }}</h3>
{% for review in reviews %}
    <div class="row user-review">

        <div class="col-md-1">
            <img src="{{ asset('public/img/blank_user.png') }}" class="img-rounded img-sm"/>
        </div>
        <div class="col-md-11">
            <p>
                {{ review.reviewer.first().fullname }}
            </p>

            <p>
                <span class="pull-right"> {{ review.published |date('Y-m-d h:m:s') }}</span>
                {{ review.body }}
            </p>
        </div>
    </div>

{% endfor %}
    {% else %}
        Еще нет отзыва.
{% endif %}