<header class="navbar navbar-fixed-top navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('podorozhniki_main_homepage') }}">Podorozhniki</a>
        </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {{ knp_menu_render('PodorozhnikiMainBundle:Builder:topMenu') }}

                <!-- Top navbar right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#" role="button">
                            {{  app.user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel1">

                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_profile_show') }}">Show
                                    profile</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_profile_edit') }}">Edit
                                    profile</a>
                            <li role="presentation">
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            </li>
                        </ul>
                        {% else %}
                            <li>
                            <a class="btn" data-toggle="modal" data-target="#loginModal">
                                {{ 'layout.login'|trans({},'FOSUserBundle') }}
                            </a>
                        </li><li>
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({},'FOSUserBundle') }}</a>
                        <li>
                        {% endif %}
                    </li>
                </ul>
            </div>
    </div>
</header>