<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'Podorozhniki'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('public/bootstrap-3.0.0/css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('public/bootstrap-3.0.0/css/bootstrap-datetimepicker.css') }}" media="screen">

    <!-- Bootstrap Form Helper css -->
    <link rel="stylesheet" href="{{ asset('public/bootstraphelper/css/bootstrap-formhelpers.min.css') }}"
          media="screen">

    <link rel="stylesheet" href="{{ asset('public/bootstrap-3.0.0/css/glyphicons-free.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/css/normalize.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/css/main.css') }}"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('public/bootstrap-3.0.0/assets/js/html5shiv.js') }}"></script>
    <script src="{{ asset('public/bootstrap-3.0.0/assets/js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body>
<script type="text/javascript">

    var authurl = '{{ path('_security_check_facebook') }}';

    function goLogIn() {
        window.location = authurl;
    }
    function onFbInit() {
        if (typeof(FB) != 'undefined' && FB != null) {
            FB.Event.subscribe('auth.statusChange', function (response) {
                setTimeout(goLogIn, 500);
            });
        }
    }

</script>
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
<!-- HEADER -->
{{ include('_header.html.twig') }}
<!-- BODY -->
<div class="container" id="main">

    <!-- Menu shown when user is authenticated. -->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 margin-bottom-10">
                    {{ knp_menu_render("PodorozhnikiMainBundle:Builder:userMenu") }}
                </div>
            </div>
        </div>
    {% endif %}
    {{ render(controller('ApplicationSonataUserBundle:Security:loginModal')) }}
    {% block body %}
    {% endblock %}
</div>

<!-- FOOTER -->
{{ include('::_footer.html.twig') }}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script src="{{ asset('public/bootstrap-3.0.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap-3.0.0/js/bootstrap-datetimepicker.js') }}"></script>
    <!-- Bootstrap helper -->
    <script src="{{ asset('public/bootstraphelper/js/bootstrap-formhelpers.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCb5Yu6Q8J8ltBhTnE-m1XhkhXvM4TPLq0&sensor=false&libraries=places&language={% if app.request.get('_locale') is not defined %}ru{% else %}{{ app.request.get('_locale') }} {% endif %}"></script>
    <script src="{{ asset('public/js/google.js') }}"></script>
    <script src="{{ asset('public/js/main.js') }}"></script>
{% endblock %}


</body>
</html>
