{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div class="form-group">
            <label for="username" class="col-md-2 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

            <div class="col-md-4">
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-md-2 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-4">
                <input type="password" class="form-control" id="password" name="_password" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </div>


</form>
    <div class="col-md-offset-2 col-md-4">
        <a href="{{ path('fos_user_resetting_request') }}">{{ 'user.forgotPassword'|trans }}</a>
        <div class="pull-right">
        <a href="{{ path('fos_user_registration_register') }}">{{ 'user.register'|trans }}</a>
        </div>
    </div>
{% endblock fos_user_content %}
