
    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ ride.who.name }}</th>
            <td>{{ ride.user.firstname }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.departure'|trans }}</th>
            <td>{{ ride.departure }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.destination'|trans }}</th>
            <td>{{ ride.destination }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.departureTime'|trans }}</th>
            <td>{{ ride.departuretime|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.departureAnyTime'|trans }}</th>
            <td>{{ ride.departureanytime }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.numberOfSeats'|trans }}</th>
            <td>{{ ride.numberofseats }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.oneSeatCost'|trans }}</th>
            <td>{{ ride.oneseatcost }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.returnDate'|trans }}</th>
            <td>{{ ride.returndate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ 'ride.returnAnyTime'|trans }}</th>
            <td>{{ ride.returnanytime }}</td>
        </tr>
        </tbody>
    </table>