{% extends "::base.html.twig" %}
{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-2 margin-bottom-10">
                <div class="container">
                    <img class="img-lg center-block" src="{{ asset('public/img/blank_user.png') }}" alt="No image"/>

                    <div class="img-lg center-block container">
                        <div class="row">
                            <span class="glyphicon glyphicon-thumbs-up pull-left"></span>
                            {{ ride.user.likes }}
                            <span class="glyphicon glyphicon-thumbs-down pull-right"></span>
                            <span class="pull-right">{{ ride.user.dislikes }}</span>
                        </div>
                        <div class="row">
                            <span class="glyphicon glyphicon-certificate"></span>
                            {{ ride.user.points }} {{ 'Points'|trans }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 margin-bottom-10">
                <p>
                    <a href="{{ url('get_user',{'id': ride.user.id}) }}"><span
                                class="lead">{{ ride.user.firstname }}</span></a>
                    <span class="text-muted">{{ ride.who.name|trans|lower }}</span>
                    {#<span class="glyphicon {% if ride.who.name|trans =='Driver' %}glyphicon-car{% else %}glyphicon-user {% endif %}"></span>#}
                    <button type="button" class="pull-right btn btn-success btn-sm" data-toggle="modal"
                            data-target="{% if app.user is null %}#loginModal {% else %}#contact{% endif %}">{{ 'contact'|trans }}</button>
                    <!--contact Modal -->
                    {{ include('PodorozhnikiMainBundle:Rides:_contactModal.html.twig') }}
                </p>
                <p class="text-muted">{{ 'Lookingforroutes'|trans }}</p>

                <p>
                    <strong>
                        <span class="glyphicon glyphicon-road"></span>
                        {{ ride.departure }}
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        {{ ride.destination }} ({{ ride.distance }})
                    </strong>
                </p>

                <p>
                    <span class="glyphicon glyphicon-clock"></span>
                    <strong>{{ 'Departuretime'|trans }}</strong>
                    {% if ride.departureanytime == 0 %}
                        {{ ride.departuretime|date('Y-m-d') }} {{ 'at'|trans }} {{ ride.departuretime|date('H:i:s') }}
                    {% else %}
                        {{ ride.departuretime|date('Y-m-d') }}
                        <span class="text-success">{{ 'Departureanytime'|trans }}</span>
                    {% endif %}
                </p>

                <p>
                    <span class="glyphicon glyphicon-usd"></span>
                    <strong>
                        {% if ride.who== 'Driver' %}
                            {{ 'Oneseatcost'|trans }}
                        {% else %}
                            {{ 'Readytopay'|trans }}
                        {% endif %}
                    </strong>

                    {{ ride.oneseatcost }} {{ ride.currency|trans }}
                </p>
                <button class="btn btn-success" type="button">{{ 'Offertrip'|trans }}</button>
            </div>
            <div class="col-md-5 hidden-xs">
                <div id="map-user-canvas" class="hidden-xs"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var ride = { 0: {{ ride.departurelatitude}}, 1:{{ ride.departurelongitude }}, 2: {{ ride.destinationlatitude }}, 3:{{ ride.destinationlongitude }} };
        var address = { 'departure': '{{ ride.departure}}', 'destination': '{{ ride.destination }}' };
    </script>
    <script src="{{ asset('public/js/googleUserMap.js') }}"></script>
{% endblock %}